<div class="container">
  <%= render :partial => "shared/top_menu", :locals => { :show_new_user => nil, :show_pword => nil, :error_msg => nil, :no_login_form => true }%>
  <div class="span-24">
    <h3>Login</h3>
    <%= form_tag(sessions_path, :method => "post") do %>
      Login name:<input type='text' id='session_login_name' name='session[login_name]' size='15'/>
      Password:<input type='password' id='session_password' name='session[password]' size='15'/>
      <input id="session_submit" name="commit" type="submit" value="Sign In" />
    <% end %>
  </div>
</div>
