.lightbg1{
  background: #eed;
}
.lightbg2{
  background: #dee;
}

p#error {
  color: red;
}

p#info {
  color: blue;
}

/* Rounded Corners */
.rounded, a.btn{
-webkit-border-radius:6px;
-moz-border-radius:6px;
border-radius:6px;
-khtml-border-radius: 6px;
}

select {
  font-size: 30px;
}

.small {
  font-size: 12px;
}

.medium {
  font-size: 15px;
}

.large {
  font-size: 20px;
}

.superlarge {
  font-size: 30px;
}

.superduperlarge {
  font-size: 50px;
}

.verbatim-font {
  font-family: "Courier New";monospace
}

.background-ddd
{
  background-color: #ddd
}

table.no-zebra tbody tr:nth-child(even) td,
table.no-zebra tbody tr.even td {
  background: transparent;
}

.opaque40
{
    opacity : 0.4;
    filter: alpha(opacity=40);
}
