<div class="container">
  <div class="span-24">
  <%= link_to "Home", url_for("/") %>
  <p>
    <h3>Meant.It APIs</h3>
  </p>
    <table border="0" cellspacing="0" cellpadding="0">
      <thead>
        <tr>
          <th>
            Retrieve Unique Sender for Message Type, Pii With Limit, Order control
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            Base Url: 
            <ul>
              <li>
                http://meant.it/piis/show_by_message_type_uniq_sender_count.json<br/>
              </li>
            </ul>
            Url Params:
            <ul>
              <li>
                message_type_input=<b><i>&lt;meant.it type&gt;</i></b>
              </li>
              <li>
                pii_value_input=<b><i>&lt;pii value&gt;</i></b>
              </li>
              <li>
                count_order=<b><i>&lt;chronological order of records&gt;</i></b>
              </li>
              <li>
                rec_limit=<b><i>&lt;number of records&gt;</i></b>
              </li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>
           Example:
          </td>
        </tr>
      </tbody>
    </table>
    <ul>
      <li>
        Retrieves all unique senders who sent to <b>like</b>@meant.it
        <ul>
          <li>
            http://meant.it/piis/show_by_message_type_uniq_sender_count.json?message_type_input=<b><i>like</i></b>
          </li>
        </ul>
      </li>
      <li>
        Retrieves the <b>latest 5</b> entries related to <b>'hello_kitty'</b>
        <ul>
          <li>
            http://meant.it/piis/show_by_message_type_uniq_sender_count.json?pii_value_input=<b><i>hello_kitty</i></b>&count_order=<b><i>desc</i></b>&rec_limit=<b><i>5</i></b>
          </li>
        </ul>
      </li>
    </ul>
    <table border="0" cellspacing="0" cellpadding="0">
      <thead>
        <tr>
          <th>
            Etc.
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
      
            We are in the process of documenting more.  We appreciate your patience.
          </td>
        </tr>
      </tbody>
   </table>
  <%= link_to "Home", url_for("/") %>
  </div>
</div>
