<div class="container">
  <div class="span-24">
  <%= link_to "Home", url_for("/") %>
  <p>
    <h3>Meant.It APIs</h3>
  </p>
    <table border="0" cellspacing="0" cellpadding="0">
      <thead>
        <tr>
          <th>
            Retrieve Unique Sender for Message Type
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            http://meant.it/piis/show_by_message_type_uniq_sender_count.json?message_type_input=<b><i>&lt;meant.it type&gt;</i></b>
          </td>
        </tr>
        <tr>
          <td>
           Example:
          </td>
        </tr>
      </tbody>
    </table>
    Retrieves all unique senders who sent to like@meant.it
    <ul>
      <li>
        http://meant.it/piis/show_by_message_type_uniq_sender_count.json?message_type_input=<b><i>like</i></b>
      </li>
    </ul>
    <table border="0" cellspacing="0" cellpadding="0">
      <thead>
        <tr>
          <th>
            Etc.
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
      
            We are in the process of documenting more.  We appreciate your patience.
          </td>
        </tr>
      </tbody>
   </table>
  <%= link_to "Home", url_for("/") %>
  </div>
</div>
