<html>
  <head>
  </head>
  <body style="background-color:#404040;">
    <div class='container'>
     <div class='span-2'>
      &nbsp;
      </div>
      <div class='span-22 last'>
        <p>
          <h2 style="text-align:center;color:#ffffff;">Enjoy your coffee and shoppping!</h2>
        </p>
        <img src="/images/coffee_2.gif" />
        <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" style="width:710px;height:500" id="950af100-0a45-3316-cc64-59c06192934a" ><param name="movie" value="http://static.issuu.com/webembed/viewers/style1/v2/IssuuReader.swf?mode=mini&amp;embedBackground=%23404040&amp;printButtonEnabled=false&amp;backgroundColor=%23222222&amp;documentId=120114050449-f5f8c43868e04a0dbef5c516126e6b4d" /><param name="allowfullscreen" value="true"/><param name="menu" value="false"/><param name="wmode" value="transparent"/><embed src="http://static.issuu.com/webembed/viewers/style1/v2/IssuuReader.swf" type="application/x-shockwave-flash" allowfullscreen="true" menu="false" wmode="transparent" style="width:710px;height:500px" flashvars="mode=mini&amp;embedBackground=%23404040&amp;printButtonEnabled=false&amp;backgroundColor=%23222222&amp;documentId=120114050449-f5f8c43868e04a0dbef5c516126e6b4d" /></object><div style="width:710px;text-align:left;"><a href="http://issuu.com/nethsix/docs/i-see_sample_catalog?mode=window&amp;printButtonEnabled=false&amp;backgroundColor=%23222222" target="_blank"></a></div>
      </div>
    </div>
  </body>
</html>
