<!--- About the only reason we make this view of home controller is
we want the labutan id to change depending on production/development,
otherwise this can be just a page in public directory that uses ajax
to communicate with meant.it using REST --->
<%
  require 'constants'
  require 'validators'
  group_pii_val = params[Constants::PII_VALUE_INPUT]
  # Use labu-tan by default
  group_pii_val ||= ENV['GROUP_PII']
#  group_pii_val_match_arr = group_pii_val.match(/\d#{Constants::ENTITY_DOMAIN_MARKER}(.*)/)
#  short_name = group_pii_val_match_arr[1] if group_pii_val_match_arr[1] != null
  pii = Pii.find_by_pii_value(CGI::unescape(group_pii_val))
%>
<html>
  <head>
    <script src="http://code.jquery.com/jquery-1.4.2.min.js"></script>
    <script>
      var TIMEOUT = 50000
      var POLL_INTERVAL = 10000
      var BACKOFF = 3
      function waitForMsg()
      {
        jQuery.ajax({
            type: "GET",
//            url: "/piis/show_by_message_type_uniq_sender_count.json?message_type_input=like&pii_value_input=25%3d%3d%3dlabutan",
//            url: "/piis/show_by_message_type_uniq_sender_count.json?message_type_input=like&pii_value_input=<%= group_pii_val %>",
            url: "/piis/show_like_pii_value_uniq_sender_count_after_last_bill.json?message_type_input=like&pii_value_input=<%= group_pii_val %>",

            async: true, /* If set to non-async, browser shows page as "Loading.."*/
            cache: false,
            timeout:TIMEOUT, /* Timeout in ms */

            success: function(data)
            {
//DEBUG                  alert("data:"+data);
              if (data == null)
              {
                jQuery('#closed').css('display','inline');
              }
              else
              {
                jQuery.each(data, function(key, val)
                  {
//DEBUG                    alert("key:"+key+", val:"+val);
                    alert("key:"+key+", val.pii.pii_value:"+val.pii.pii_value);
                    var mir_count = val.pii.mir_count;
                    var thumbnail_url_data = val.pii.thumbnail_url_data;
                    if (thumbnail_url_data == null || thumbnail_url_data == '')
                    {
                      thumbnail_url_data = "/images/unknown.jpg";
                    }
                    jQuery('#prod_img').attr('src', thumbnail_url_data);
                    jQuery('#desiredItem').attr('src', thumbnail_url_data);
                    var short_desc_data = val.pii.short_desc_data;
                    var threshold = val.pii.threshold;
                    if (mir_count >= threshold)
                    {
                      jQuery('#closed').css('display','inline');
                    }
                    x_axis_1_str = (1*threshold/3).toString();
                    x_axis_2_str = (2*threshold/3).toString();
                    jQuery('#x_axis_1').text(x_axis_1_str.substring(0,3));
                    jQuery('#x_axis_2').text(x_axis_2_str.substring(0,3));
                    jQuery('#x_axis_3').text(threshold);
                    var formula = val.pii.formula;
                    if (formula != null && formula.match(/\d+/))
                    {
                      jQuery('#cost_axis_3').text('$'+formula);
                    } // end if (formula.match(/\d+/))
                    var qr = val.pii.thumbnail_qr_data;
alert('qr:'+qr);
                    // missing.png is the default url provided by paperclip
                    // when no image is set
                    if (qr == null || qr == '' || qr.match(/missing\.png/))
                    {
                      jQuery('#qr_img').css('display', 'none');
                      jQuery('#meant_it_str').css('display', 'inline');
                      jQuery('#meant_it_str').html("Send <b>:"+val.pii.pii_value+"</b> to like@meant.it");
                    }
                    else
                    {
                      jQuery('#meant_it_str').css('display', 'none');
                      jQuery('#qr_img').css('display', 'inline');
                      jQuery('#qr_img').attr('src', qr);
                    } // end if (qr == null || qr = '')
                    alert("mir_count:"+mir_count);
//DEBUG                    alert("threshold:"+threshold);
//DEBUG                    alert("formula:"+formula);
                    alert("thumbnail_url_data:"+thumbnail_url_data);
//DEBUG                    alert("short_desc_data:"+short_desc_data);
                    var TOTAL_WIDTH = 560;
                    var hpos = mir_count * (TOTAL_WIDTH/threshold);
//DEBUG                    alert("hpos:"+hpos);
                    if (hpos > TOTAL_WIDTH)
                    {
                      hpos = TOTAL_WIDTH;
                    }
//                    document.getElementById('desiredItem').style.position="relative";
                    jQuery('#desiredItem').css('position','relative');
//                    document.getElementById('desiredItem').style.left=+hpos;
                    jQuery('#desiredItem').attr('src', thumbnail_url_data);
                    jQuery('#desiredItem').css('left', hpos);
                    jQuery('#liketag').css('position','relative');
                    jQuery('#liketag').css('left', hpos-3);
                    jQuery('#liketag').css('top', -11);
                    jQuery('#liketag').html(mir_count.toString()+"<span>"+short_desc_data+"</span>");
                  }
                );
                setTimeout(
                    'waitForMsg()', /* Request next message */
                    POLL_INTERVAL /* ..after 1 seconds */
              );
              } /* end else if (data == null) */
            },
            error: function(XMLHttpRequest, textStatus, errorThrown){
                alert("error", textStatus + " (" + errorThrown + ")");
                setTimeout(
                    'waitForMsg()', /* Try again after.. */
                    POLL_INTERVAL*BACKOFF); /* milliseconds */
            },
        });
    };

    </script>
  </head>
  <body>
<%
 if !pii.pii_property_set.nil? and ((pii.pii_property_set.threshold_type == PiiPropertySetThresholdTypeValidator::THRESHOLD_TYPE_ONETIME and pii.pii_property_set.status == LikerStatusTypeValidator::LIKER_STATUS_ACTIVE) or (pii.pii_property_set.threshold_type == PiiPropertySetThresholdTypeValidator::THRESHOLD_TYPE_RECUR))
%>
    <script>
      jQuery(document).ready(function(){
        waitForMsg(); /* Start the inital request */
      });
    </script>
<%
  else
%>
    <script>
      jQuery(document).ready(function(){
        jQuery('#closed').css('display','inline');
      });
    </script>
<%
  end
%>
  <link rel="stylesheet" href="/stylesheets/blueprint/screen.css" type="text/css" media=" screen, projection">
  <link rel="stylesheet" href="/stylesheets/blueprint/print.css" type="text/css" media="print">
<!--[if lt IE 8]>
  <link rel="stylesheet" href="/stylesheets/blueprint/ie.css" type="text/css" media="screen, projection">
<![endif]-->
  <link rel="stylesheet" type="text/css" href="/stylesheets/group.css" />
</head>

<body>
<div class='container'>
  <h1>Clone-A-Friend</h1>
  <div class='span-10'>
    <h2>Get your Labu-tan clone!</h2>
    Clone in bulk to save.  Send order email using QR code.
  </div>
  <div class='span-14 last'>
<!---    <img class='pixframe' height='100' width='90' src='images/labutan.jpg'/> --->
    <img id='prod_img' class='pixframe' height='100' width='90' src=''/>
<!---    <img id='qr_img' height='120' width='120' src='images/like_labutan_qr.png'/> --->
    <img id='qr_img' height='120' width='120' src=''/>
    <span id='meant_it_str' width='120' style='position:relative;top:-55px'></span>
    <span id='closed' style='display:none;position:relative;top:-50px;left:-120px;color:red;font-size:35px'>Closed</span>
  </div>
  <div class='span-5'>
    <span class='large'>Qty:<span id='x_axis_0' class='bluish'>&nbsp;&nbsp;&nbsp;&nbsp;1</span></span></br>
    <span class='large'>Cost:<span id='cost_axis_0' class='bluish'> NA</span></span>
  </div>
  <div class='span-5'>
    <span id='x_axis_1' class='large bluish'>10</span></br>
    <span id='cost_axis_1' class='large bluish'>NA</span>
  </div>
  <div class='span-5'>
    <span id='x_axis_2' class='large bluish'>20</span></br>
    <span id='cost_axis_2' class='large bluish'>NA</span>
  </div>
  <div class='span-5 last'>
    <span id='x_axis_3' class='large bluish'>30</span></br>
    <span id='cost_axis_3' class='large bluish'>Unset!</span>
  </div>
  <div class='span-20'>
    <hr class='hDivider'/>
  </div>
  <div class='span-20'>
    <br/>
  </div>
  <div class='span-4'>
<!---    <img id="desiredItem" class="pixframe fg" width="70" height="80" src="/images/labutan.jpg"/> --->
    <img id="desiredItem" class="pixframe fg" width="70" height="80" src=""/>
<!---    <span position:relative;top:-11'><a id='liketag' class='tagframe vc_tooltip'>0</a></span> --->
    <span><a id='liketag' class='fg tagframe vc_tooltip'>0</a></span>
  </div>
  <div class='span-5 vertical-middle'>
    <img class='bg' width="80" src="/images/group_arrow.gif"/>
  </div>
  <div class='span-5 vertical-middle'>
    <img class='bg' width="80" src="/images/group_arrow.gif"/>
  </div>
  <div class='span-5 vertical-middle'>
    <img class='bg' width="80" src="/images/group_arrow.gif"/>
  </div>
  <div class='span-2 last'>

  </div>
  <div class='span-20'>
    <br/>
  </div>
  <div class='span-20'>
    <hr class='hDivider'/>
  </div>
</div>

  </body>
</html>
