<div class="container">
  <div class="span-24">
  <%= link_to "Home", url_for("/") %>
  <p>
    <h3>Meant.It Platform</h3>
  </p>
  </div>
    <h4>Meant.It Introduction </h4>
    Meant.It is a repository store for spontaneous thoughts/expressions; messages created anywhere, anytime for anything, using email/QR-code.  This enables a user to complain, thank, like, etc. at the spur of moment before it is forgotten or when she does not have a known communication channel to the intended recipient (see <a href='/why.html'>Why Meant.it?</a>).<br/>
    Examples:
    <ul>
      <li>
        Send <b>house_keys yellow dog key-chain train 1500 "marunouchi line"</b> to <b>found@meant.it</b>
      </li>
      <li>
        Send <b>restaurant_a "aloha towers"  "6th avenue" fish chips ;fish not fresh;</b> to <b>dislike@meant.it</b>
      </li>
    </ul>
    <h4>Meant.It Platform</h4>
    Applications can be written to take advantage of Meant.It's simple email/QR-code-driven user interface to facilitate anywhere/anytime user-application communication and can utilize Meant.it <a href='/apis.html'>APIs</a> to retrieve, filter, process stored messages and display them in useful formats.<br/>
    Example applications:
    <ul>
      <li>
        'Like' - The simplest application using a single API to access spontaenous messages sent to <i>like@meant.it</i> in the repository, with filter set to <i>unique senders</i>, i.e., avoid counting mulitple likes from same person.
        <ul>
          <li>
            Check out <a href='/like.html'>'Like'</a>
          </li>
        </ul>
      </li>
      <li>
        'Group Buy' - A useful application to recruit participants for group-buying a particular product (to get bulk discounts) or from a particular store (to amortize shipping cost).
        <ul>
          <li>
            Example of <a href='/group.html'>'Group Buy'</a>
          </li>
          <li>
            <a href='/group_diy.html'>Do-It-Yourself 'Group Buy'</a> in 6+2 steps (2 steps for user ID creation, only required for initiator)
          </li>
        </ul>
      </li>
    </ul>
  <%= link_to "Home", url_for("/") %>
  </div>
</div>
