<div class="container">
  <div class="span-24">
  <%= link_to "Home", url_for("/") %><br/>
  <br/>
    Unlike most web services, we do not want to store/collect your information unless necessary or you want us to do so for your convenience.
    We put this policy into practice:
    <ul>
      <li>You can use the system anonymously</li>
      <li>You can use the system with email, from which we know your email address, but nobody does</li>
      <li>You can use the system by registering with us using merely a pseudonym and self-chosen password</li>
    </ul>
    We do not:
    <ul>
      <li>Sell or misuse any personal data</li>
      <li>Do not collect data unless necessary</li>
      <li>Do not collect data unless you explicitly hand it to us</li>
    </ul>
    We:
    <ul>
      <li>Use personal data for only intended purposes:</li>
      <ul>
        <li>Email
          <ul>
             <li>Used to generated statistics, e.g., number of unique users.</li>
            <li>Used to contact you when necessary.  <strong>No</strong> ads, solicitations, etc.</li>
          </ul>
        </li>
      </ul>
    </ul>
  <%= link_to "Home", url_for("/") %>
  </div>
</div>
