<div class="container">
  <div class="span-24">
  <p>
    <h3>Meant.It 101</h3>
  </p>
  The two important concepts are:
  <ul>
      <li>Personally Identifiable Information (pii)</li>
      <li>Nickname (nick)</li>
  </ul>
  Important things about pii:
  <ul>
    <li>Pii is unique to an object/human/animal
      <ul>
        <li>Email (hello_kitty@sanrio.com)</li>
        <li>Well-known name (hello kitty)</li>
      </ul>
    </li>
    <li>It is possible for an object/human/animal to have multiple piis
      <ul>
        <li>Email (hello_kitty@sanrio.com)</li>
        <li>Well-known name (hello kitty)</li>
      </ul>
    </li>
  </ul>
  Important things about nick:
  <ul>
    <li>Each user can assign a pii a different nick; nicks are not a global concept like pii.
      <ul>
        <li>cat_with_no_mouth</li>
        <li>my_kitty</li>
      </ul>
    </li>
    <li>When a nick is shown, it is accompanied by the owner (abbreviated as own:)
      <ul>
        <li>nick:cat_with_no_mouth (own:kuromi)</li>
      </ul>
    </li>
  </ul>
  Why do we need nick and pii?  
  <ul>
    <li>Pii is not shown if it is something confidential, e.g., email</li>
    <li>Communicating using nicks, preserves some form of privacy</li>
  </ul>
  </div>
  <%= link_to "Home", url_for("/") %>
</div>
