<div class="container">
  <%= render :partial => "shared/top_menu", :locals => { :show_new_user => nil, :show_pword => nil, :error_msg => nil }%>
  <div class="span-24">
    <%= render 'form' %>
  </div>
</div>
