<p id="notice"><%= notice %></p>

<div class='container'>
  <div class='span-24'>

<% 
    title_str ||= nil
    if !title_str.nil? 
%>
    <p><%= raw raw_display_only_b_and_i(title_str) %></p>
  <% end %>
  <ul><li>
  <%= render :partial => "shared/end_point_nick_col", :collection => @endPoint_arr, :spacer_template => "shared/li_ruler", :locals => { :show_nick_force => true } %>
  </li></ul>

  </div>
</div>
