<% require 'validators' %>
<% require 'constants' %>
<p id="notice"><%= notice %></p>
<% if !meantItRels.empty? and !meantItRels.nil? %>
  <ul><li>
  <%= render :partial => "shared/meant_it_rel", :spacer_template => "shared/li_ruler", :collection => meantItRels %>
  </li></ul>
<% end %>
