<% require 'constants' %>
<% 
#  req_url = URI::parse(request.url)
#  req_url_query_hash = CGI::parse(req_url.query) if !req_url.query.nil?
#  find_any_input = req_url_query_hash.values.join("\n") if !req_url_query_hash.nil?
find_any_input ||= nil
%>

<!DOCTYPE html>
<html>
<head>
  <title>Meant.It</title>
  <link rel="stylesheet" href="/stylesheets/blueprint/screen.css" type="text/css" media=" screen, projection">
  <link rel="stylesheet" href="/stylesheets/blueprint/print.css" type="text/css" media="print">
<!--[if lt IE 8]>
  <link rel="stylesheet" href="/stylesheets/blueprint/ie.css" type="text/css" media="screen, projection">
<![endif]-->
  <link rel="stylesheet" href="/stylesheets/meant_it.css" type="text/css">
  <script src="/javascripts/jquery-1.4.2.min.js"></script>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
