<p id="notice"><%= notice %></p>
<form method='get' action='<%= find_piis_url %>'>
  <div>
    <input type='text' name='pii_input'/>
  </div>
  <div class='actions'>
    <input type='submit' name='find'/>
  </div>
</form>
